# Dependencies
node_modules

# Next.js build output
.next
out

# Environment variables
.env
.env.local
.env*.local
.env.production
.env.production.local

# Vercel
.vercel

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-start*.log

# Optional local files
*.pem